* {
    margin: 0;
    padding: 0;
}

body {
    font: 100% normal Arial, Helvetica, sans-serif;
    background: #161712;
}

h2 {
    text-align: center;
}

.text {
    display: block;
    color: #bbbbbb;
    font-size: 12px;
    float: left;
    width: 100px;
    text-align: right;
    padding: 5px 20px 0 0;

}

.button {
    background: #ffffff;
    border: 0px;
    top: 10px;
    left: 382px;
    width: 100px;
    border-bottom: 1px double #660000;
    border-top: 1px double #660000;
    border-left: 1px double #FF0033;
    border-right: 1px double #FF0033;
}

.game {
    margin: auto;
    width: 50%;
    padding: 10px;
}