<div class="box">
  <div class="wpis">
    <label for="selectInput">Sort scores</label>
    <select class="button" id="selectInput" [(ngModel)]="filter">
      <option value="" selected disabled hidden>Choose</option>
      <option value="asc">Asc</option>
      <option value="desc">Desc</option>
    </select>

    <table id="data">
      <tr>
        <th *ngFor="let col of columns">
          {{ col }}
        </th>
      </tr>
      <tr
        *ngFor="
          let player of data.slice(0, 10) | orderBy : filter : data.length
        "
      >
        <td *ngFor="let col of indexs">
          {{ player[col] }}
        </td>
      </tr>
    </table>
    <button (click)="goBack()" class="button">Go back to the game</button>
  </div>
</div>
